[submodule "submodule/libigl"]
	path = submodule/libigl
	url = https://github.com/libigl/libigl.git
[submodule "submodule/vcpkg"]
	path = submodule/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "submodule/FromZ"]
	path = submodule/FromZ
	url = https://github.com/n-taka/FromZ.git
